 @forward"media";
 body{
    background-image: url("/images/meteoimg.jpeg");
    background-repeat:repeat;
    background-size: cover;
    height: 120vh;
    
   main{
    background-color: rgba(0, 0, 0, 0.319);
    width: 70%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.646);
    padding: 5px;
    margin-left: auto;
     margin-right: auto;
   
    
    
    
   }
}

h1,h2{
    color: rgba(255, 255, 255, 0.743);
    text-align: center;
}
#meteodiv{
    background-color: white;
    border-radius: 20px;
    width: 60%;
    margin:10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    
    input{
        height: 50px;
        width: 50%;
        border-radius: 20px;
         border: none;
         outline: none;
    }
    i{
        margin-top: auto;
        margin-bottom: auto;
    }
}
#display{
    text-align: center;
    div{
        display: flex;
        justify-content: center;
    }
    P{
         color:white;
         #meteospan{
            font-size: 50px;
        }
    }
#drapo{
    width: 70%;
    
}
}
#celsius{
    width: 60px;
    height: 60px;
    margin: 10px;
}
#display{
    display: none;
}
